<div class="districts-select">
    <div class="input-wrapper">
        <input type="text" placeholder="Введите подразделение"/>

        <div
                class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton"
                title="" role="button" aria-haspopup="true" tabindex="0"
                style="-webkit-user-select: none; display: inline-block;">
            <div class="dijitReset dijitArrowButtonInner" role="presentation"></div>
            <div class="dijitReset dijitArrowButtonChar" role="presentation">▼</div>
        </div>
    </div>
    <div class="tree-wrapper">
        <div class="tree"></div>
    </div>
</div>



