<div data-dojo-type="${baseClass}"
     data-dojo-attach-point="focusNode"
     style="width: 100%; height: 100%">

    <div data-dojo-attach-point="gridPane" data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'center'" style="padding: 0;">
    </div>

    <div data-dojo-attach-point="toolbar" data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'top'"
        style="margin-bottom: 0px; overflow:auto">

         <div data-dojo-type="dojox/layout/TableContainer"
              data-dojo-props="cols: 2, labelWidth: 150" style="width:50%; min-width: 600px">

            <div data-dojo-attach-point="regionSelect"
                 data-dojo-type="ngw-compulink-reporting/RegionSelect"
                 data-dojo-props="regions: rlist"
                 title="Субъект РФ" style="width:90%;"></div>
            <div data-dojo-attach-point="statusSelect"
                 data-dojo-type="ngw-compulink-reporting/StatusSelect"
                 title="Статус" style="width:100%;"></div>
            <div data-dojo-type="ngw-compulink-reporting/DistrictSelect"
                 data-dojo-props="districts: dlist"
                 data-dojo-attach-point="districtSelect"
                 title="Район" style="width:90%;"></div>
            <div data-dojo-type="dijit/form/CheckBox"
                 data-dojo-attach-point="onlyOverdue"
                 data-dojo-props="value: true"
                 title="Только просроченные"></div>

        </div>

        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="buildReport"
                type="button">Построить</button>

        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="exportExcel"
                type="button">Выгрузить в Excel</button>

    </div>

</div>
