.dijitTableLayout label {
    font-weight: bold;
}

/*.dgrid-row {*/
    /*height: 3em;*/
/*}*/

.dgrid-cell {
    white-space: normal;
    width: 5em;
}

.dgrid-header .dgrid-cell {
    text-align: center;
}


.dgrid-content .dgrid-cell.field-deviation_distance,
.dgrid-content .dgrid-cell.field-deviation_approved,
.dgrid-content .dgrid-cell.field-approval_author,
.dgrid-content .dgrid-cell.field-approval_timestamp
{
    text-align: center;
}

.field-focl_proj {
    width: 10em;
}

.field-focl_name {
    width: 10em;
}

.field-approval_comment {
    width: 10em;
}

.field-deviation_distance {
    width: 5em;
}


.summary-row {
    font-weight: bold;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.summary-row .dgrid-cell {
    text-align: center;
    border-color: #bbb !important;
}

/* controls pane styles */

table.parameters-table td {
    padding-right: 20px;
}

div.control-block-group {
    display: block;
    margin: 2px 0;
}

div.control-inline-group {
    display: inline-block;
    margin: 2px 0;
}

div.control-block-group label,
div.control-inline-group label {
    display: inline-block;
    min-width: 150px;
}

.claro .dgrid-row.dgrid-selected {
    background-color: #99D0FF;
}
