.dgrid-cell { white-space: normal; width: 7em; }

.field-display_name { width: 12em; }
.field-region { width: 12em; }
.field-district { width: 13em; }
.field-status { width: 12em; }
.field-cabling_fact { width: 8em; }
.field-start_build_time { width: 8em; }
.field-end_build_time { width: 8em; }
.field-start_deliver_time { width: 9em; }
.field-end_deliver_time { width: 9em; }
.field-subcontr { width: 12em; }