#ap_files.dropzone {
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 30px;
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 182px;
    text-align: center;
}

#ap_files.dropzone .dz-preview,
#ap_files.dropzone.dz-started .dz-message {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
}

#ap_files.dropzone .dz-preview {
    margin-top: 1px;
}

#ap_files.dropzone.dz-started .dz-message {
    opacity: 0.5;
}

#ap_files.dropzone .dz-preview .dz-details {
    position: relative;
    width: auto;
    margin: 2px;
    height: auto;
    padding: 0;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.17);
    min-width: 0;
    max-width: 100%;
}

#ap_files.dropzone div.dz-filename span {
    text-overflow: ellipsis;
    display: block;
    width: 90%;
    overflow: hidden;
}

#ap_files.dropzone .dz-preview.dz-file-preview .dz-image,
#ap_files.dropzone .dz-preview.dz-image-preview .dz-image,
#ap_files.dropzone .dz-preview .dz-details .dz-size,
#ap_files.dropzone div.dz-error-message,
#ap_files.dropzone .dz-preview .dz-success-mark,
#ap_files.dropzone .dz-preview .dz-error-mark {
    display: none;
}

#ap_files.dropzone .dz-preview a.remove-file,
#ap_files.dropzone .dz-preview a.remove-file:visited {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1px;
    opacity: 0.7;
    text-decoration: none;
    color: #759DC0;
}

#ap_files.dropzone .dz-preview a.remove-file:hover {
    opacity: 1;
}