<div id="header" class="header" style="padding: 0; margin: 0">
    <div class="home-menu pure-menu pure-menu-horizontal" style="overflow:visible;">
        <img width="108" height="28" class="logo" src="{{ headerData.srcLogo }}"/>

        <a class="pure-menu-heading" href="{{ headerData.appUrl }}" style="float:left;">
            {{ headerData.fullName }}
        </a>

        <ul id="nav">
            {% if headerData.isAdm %}
            <li class="pure-menu-item">
                <a href="{{ headerData.resourcesUrl }}" title="Ресурсы">Ресурсы</a>
            </li>
            <li class="pure-menu-item">
                <a href="{{ headerData.controlPanelUrl }}" title="Панель управления">Панель управления</a>
            </li>
            {% endif %}
            <li>
                <a href="#" title="Отчёты">Отчёты</a>
                <ul>
                    <li>
                        <a title="Отчёт о ходе строительства" href="{{ headerData.reportUrl }}">Отчёт о ходе строительства</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Имя пользователя">{{headerData.userName }}</a>
                <ul>
                    <li>
                        <a href="{{ headerData.logoutUrl }}" title="Выход">Выход</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
