<div data-dojo-type="dijit/layout/BorderContainer"
     data-dojo-props="region: 'center'"
     style="padding-left: 0">

    <!-- Панель для размещения списка типа слоев ВОЛС -->
    <div data-dojo-attach-point="foclLayersTreePane"
         data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'center'"
         style="padding: 0" class="vols">
        <div class="title">Слои ВОЛС</div>
        <div class="tree-overlay"></div>
        <div class="tree-wrapper">
            <div id="foclLayersTree"></div>
        </div>
    </div>

    <!-- Панель для размещения списка типа слоев Сит плана-->
    <div data-dojo-attach-point="sitPlanLayersTreePane"
         data-dojo-type="dijit/layout/ContentPane"
         data-dojo-props="region: 'bottom', splitter: true"
         style="padding: 0; height: 50%" class="sit">
        <div class="title">Слои Сит. плана</div>
        <div class="tree-overlay"></div>
        <div class="tree-wrapper">
            <div id="spLayersTree"></div>
        </div>
    </div>
</div>