<div>
    <div class="dijitDialogPaneContentArea">
        <div data-dojo-type="dojox/layout/TableContainer"
             data-dojo-attach-point="tableContainer"
             style="margin-left: 10px;"
             data-dojo-props="cols:1">

            <select id="sizesSelect"
                    data-dojo-type="dijit/form/Select"
                    data-dojo-attach-point="sizesSelect"
                    data-dojo-event="change: func"
                    title="Формат" name="sizes"
                    style="width: 180px;">
                <option value="TN" selected>A4 - Портретный</option>
                <option value="TN">A4 - Альбомный</option>
                <option value="TN">A3 - Портретный</option>
                <option value="TN">A3 - Альбомный</option>
                <option value="TN">Настраиваемый</option>
            </select>

            <input data-dojo-type="dijit/form/NumberTextBox"
                   data-dojo-attach-point="heightInput"
                   title="Высота, см"
                   type="number"
                   required="true"
                   disabled="disabled"
                   value="21.0"
                   data-dojo-props="constraints:{min:0,max:20000,places:0}"/>

            <input data-dojo-type="dijit/form/NumberTextBox"
                   data-dojo-attach-point="widthInput"
                   title="Ширина, см"
                   type="number"
                   required="true"
                   disabled="disabled"
                   value="29.7"
                   data-dojo-props="constraints:{min:0,max:20000,places:0}"/>
        </div>
        <button data-dojo-type="dijit.form.Button"
                data-dojo-attach-point="okButton"
                style="margin-left: 10px;">
            Печать
        </button>
    </div>
    <!--<div class="dijitDialogPaneActionBar">-->

    <!--</div>-->
</div>