div.districts-select {
    width: 20%;
    min-width: 150px;
}

div.districts-select inout {
    border: 1px #b5bcc7 solid;
}

div.input-wrapper {
    position: relative;
    padding-bottom: 1px;
}

div.tree-wrapper {
    width: 300px;
    height: 250px;
    overflow: auto;
}

div.districts-select {
    display: inline-block;
    z-index: 999;
}

div.districts-select input {
    width: 100%;
    height: 13px;
}

div.districts-select div.dijitArrowButton {
    position: absolute;
    display: block;
    top: 0;
    right: -4px;
    width: 17px;
    height: 17px;
}

div.districts-select div.dijitArrowButtonInner {
    width: 15px;
    height: 16px;
}

div.tree-wrapper {
    display: none;
    position: fixed;
    background-color: white;
    border: 1px #b5bcc7 solid;
}

div.tree-wrapper.visible {
    display: block;
}

.dojoxCheckedMultiSelectMenuCheckBoxItemIcon {
    display: block
}

.dojoxCheckedMultiSelectCheckBoxInput {
    opacity: 1
}

div.pad {
    position: absolute
}