<div>
    <h3>Атрибуты объекта</h3>
    <div class="invitation">Выделите любой объект на редактируемом слое, кликнув по нему.</div>
    <div class="wait">Загрузка атрибутов...</div>
    <div class="attributes"></div>
</div>