<div>
    <h3>Атрибуты объекта</h3>
    <div class="invitation">Для просмотра свойств объекта выделите его, кликнув по нему мышкой</div>
    <div class="wait">Загрузка атрибутов...</div>
    <div class="attributes"></div>
</div>