<div>
    <div data-dojo-type="dijit/Toolbar"
         data-dojo-props="region: 'top'"
         style="border-bottom: none"
         id="editorToolbar">

        <div data-dojo-attach-point="selectAndMove"
             id="selectAndMoveButton"
             data-dojo-attach-event="onChange: selectAndMoveChanged"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="editorMode: 'selectAndMove', iconClass: 'selectAndMove', showLabel: false, checked: true, title: 'Выбрать и переместить'">
        </div>

        <div data-dojo-attach-point="createVolsButton"
             id="createVolsButton"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="editorMode: 'creatingVols', iconClass: 'iconCreateVols', showLabel: false, checked: false, title: 'Создать трассу кабеля'">
        </div>

        <div data-dojo-attach-point="createSpButton"
             id="createSpButton"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="editorMode: 'creatingSp', iconClass: 'iconCreateSp', showLabel: false, checked: false, title: 'Создать спецпереход'">
        </div>

        <div data-dojo-type="dijit/ToolbarSeparator"></div>

        <div data-dojo-attach-point="removeFeatureButton"
             id="removeFeatureButton"
             data-dojo-attach-event="onClick: removeFeature"
             data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass: 'removeFeature', showLabel: false, checked: false, title: 'Удалить выбранный объект'">
        </div>

        <div data-dojo-attach-point="undoOneButton"
             id="undoOneButton"
             data-dojo-attach-event="onClick: undoAll"
             data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass: 'undoOne', showLabel: false, checked: false, title: 'Отменить изменения выбранного объекта'">
        </div>

        <div data-dojo-attach-point="undoAllButton"
             data-dojo-attach-event="onClick: undoAll"
             data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass: 'undoAll', showLabel: false, checked: true, title: 'Отменить изменения всех объектов'">
        </div>

        <div data-dojo-type="dijit/ToolbarSeparator"></div>

        <div data-dojo-attach-point="updateLinesButton"
             data-dojo-attach-event="onClick: updateLines"
             data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass: 'updateLines', showLabel: false, checked: true, title: 'Запустить автоматическое построение трассы кабеля'">
        </div>
    </div>
</div>