#LayersLoadingIndicator {
    /*display: none;*/
    position: absolute;
    top: 30px;
    right: 3px;
    background: transparent;
    z-index: 99999;
    font-size: 13px;
    border: 1px solid rgb(218, 231, 231);
}

.meter {
    height: 6px;
    width: 96px;
    position: relative;
}

.meter > span {
    display: block;
    height: 100%;
    background: rgb(23, 111, 193) linear-gradient(to top, rgb(23, 111, 193), rgb(138, 182, 216));
    position: relative;
    overflow: hidden;
}