#statisticToolbar span.dijitInline.dijitIcon {
    width: 16px;
    height: 16px;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
}

#statisticToolbar span.dijitDisabled {
    opacity: 0.3;
}

#statisticToolbar span.iconFederalLevel {
    background: url('img/select_move.png') no-repeat;
}

#statisticToolbar span.iconRegionlLevel {
    background: url('img/select_move.png') no-repeat;
}

#statisticToolbar span.iconDistrictLevel {
    background: url('img/select_move.png') no-repeat;
}

