.dijitTableLayout label {
    font-weight: bold;
}

.dgrid-row {
    height: 3em;
}

.dgrid-cell {
    white-space: normal;
    width: 5em;
}

.dgrid-header .dgrid-cell {
    text-align: center;
}

.dgrid-content .dgrid-cell.field-start_build_time,
.dgrid-content .dgrid-cell.field-end_build_time,
.dgrid-content .dgrid-cell.field-cabling_plan,
.dgrid-content .dgrid-cell.field-cabling_fact,
.dgrid-content .dgrid-cell.field-cabling_percent,
.dgrid-content .dgrid-cell.field-fosc_plan,
.dgrid-content .dgrid-cell.field-fosc_fact,
.dgrid-content .dgrid-cell.field-fosc_percent,
.dgrid-content .dgrid-cell.field-cross_plan,
.dgrid-content .dgrid-cell.field-cross_fact,
.dgrid-content .dgrid-cell.field-cross_percent,
.dgrid-content .dgrid-cell.field-spec_trans_plan,
.dgrid-content .dgrid-cell.field-spec_trans_fact,
.dgrid-content .dgrid-cell.field-spec_trans_percent,
.dgrid-content .dgrid-cell.field-ap_plan,
.dgrid-content .dgrid-cell.field-ap_fact,
.dgrid-content .dgrid-cell.field-ap_percent {
    text-align: center;
}

.field-focl_name {
    width: 14em;
}

.field-region {
    width: 14em;
}

.field-district {
    width: 14em;
}

.field-status {
    width: 10em;
}

.field-subcontr_name {
    width: 8em;
}

.field-start_build_time {
    width: 9em;
}

.field-end_build_time {
    width: 9em;
}

.summary-row {
    font-weight: bold;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.summary-row .dgrid-cell {
    text-align: center;
    border-color: #bbb !important;
}

/* controls pane styles */

table.parameters-table td {
    padding-right: 20px;
}

div.control-block-group {
    display: block;
    margin: 2px 0;
}

div.control-inline-group {
    display: inline-block;
    margin: 2px 0;
}

div.control-block-group label,
div.control-inline-group label {
    display: inline-block;
    min-width: 150px;
}
