.field-focl_name { width: 14em; }
.field-region { width: 14em; }
.field-district { width: 14em; }
.field-status { width: 10em; }
.field-subcontr_name { width: 8em; }
.field-start_build_time { width: 9em; }
.field-end_build_time { width: 9em; }
