<ul class="video-items">
    {{#videoInfoItems}}
        <li data-id="{{id}}">
            <span class="caption">{{name}} {{#size}}[{{size}}]{{/size}}</span>
            {{#status_creating}}
                <i class="icon icon-spin6" href="{{src}}" title="Создается"></i>
            {{/status_creating}}
            {{#status_ready}}
                <i class="icon icon-cancel-circled2" href="javascript:void(0)" title="Удалить"></i>
                <i class="icon icon-download-alt" href="{{src}}" title="Скачать"></i>
            {{/status_ready}}
        </li>
    {{/videoInfoItems}}
</ul>