#videoManager div.video-manager-wrapper {
    overflow: hidden;
}

#videoManager div.video-list {
    height: 120px;
    width: 334px;
    border: 1px solid #bfbfbf;
    margin-top: 1px;
}

#videoManager div.controls {
    width: 98%;
    height: 25px;
    text-align: left;
}

#videoManager div.controls i.icon {
    display: inline-block;
    font-size: 20px;
    color: #599BFF;
    margin: 5px 2px 0 0;
    cursor: pointer;
    opacity: 0.7;
}

#videoManager div.controls i.icon:hover {
    opacity: 1;
}
