#videoManager div.video-manager-wrapper {
    overflow: hidden;
}

#videoManager div.video-list {
    height: 120px;
    overflow: auto;
    border: 1px solid #bfbfbf;
    margin-top: 1px;
}

#videoManager a.icon {
    text-decoration: none;
}

#videoManager div.controls {
    width: 98%;
    height: 25px;
    text-align: left;
}

#videoManager div.controls a.icon {
    display: inline-block;
    font-size: 20px;
    color: #0065FF;
    margin: 5px 2px 0 0;
    cursor: pointer;
    opacity: 0.7;
}

#videoManager div.controls a.icon:hover {
    opacity: 1;
}

#videoManager div.controls a.disabled.icon,
#videoManager div.controls a.disabled.icon:hover {
    opacity: 0.5;
    cursor: default;
    color: gray;
}

#videoManager div.video-list ul.video-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#videoManager div.video-list ul.video-items li {
    margin: 1px 0 0 0;
    padding: 2px;
    border-bottom: 1px solid #c9cbee;
}

#videoManager div.video-list ul.video-items li:hover {
    background-color: #E8ECF6;
}

#videoManager div.video-list ul.video-items span.caption {
    width: 260px;
    display: inline-block;
}

#videoManager div.video-list ul.video-items li a.icon {
    float: right;
    display: inline-block;
    color: #0065FF;
    cursor: pointer;
    opacity: 0.7;
}

#videoManager div.video-list ul.video-items li a.icon:hover {
    opacity: 1;
}

#videoManager div.video-list ul.video-items li a.icon.creating{
    background: url("loading.gif") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: -1px;
}

#videoManager div.controls a.icon-videocam-2,
#videoManager div.video-list ul.video-items li a.icon.red,
#videoManager div.video-list ul.video-items span.caption.red {
    color: red;
}