<div class="video-manager-wrapper">
    <div class="video-list">

    </div>
    <div class="controls">
        <i class="icon icon-plus-circled" aria-hidden="true" title="Записать видео"></i>
        <i class="icon icon-arrows-cw" aria-hidden="true" title="Обновить"></i>
    </div>
</div>