<ul class="video-items">
    {{#videoInfoItems}}
        <li>
            <span class="caption">{{name}} {{#size}}[{{size}}]{{/size}}</span>
            {{#status_creating}}
                <a class="icon icon-spin6" href="javascript:void(0)" title="Создается"></a>
            {{/status_creating}}
            {{#status_ready}}
                <a class="icon remove-video-item icon-cancel-circled2" data-id="{{id}}" data-name="{{name}}" href="javascript:void(0)" title="Удалить"></a>
                <a class="icon icon-download-alt" {{#url}}href="{{url}}"{{/url}} {{^url}}href="javascript:void(0)"{{/url}} title="Скачать"></a>
            {{/status_ready}}
        </li>
    {{/videoInfoItems}}
</ul>