<div class="video-manager-wrapper">
    <div class="video-list">

    </div>
    <div class="controls">
        <a class="icon icon-videocam-2" aria-hidden="true" title="Записать видео"></a>
        <a class="icon icon-arrows-cw" aria-hidden="true" title="Обновить"></a>
    </div>
</div>