.ngw-feature-attachment-FotoDisplayWidget div.image {
    display: block; float: left;
    width: 128px;
    height: 128px;
    margin-right: 2ex;
    margin-bottom: 2ex;
    text-align: center;
}

.ngw-feature-attachment-FotoDisplayWidget div.panel {
    height: 5ex;
    padding: 5px 5px 0 5px;
    border-bottom: solid 1px #B5BCC7;
    background-color: #E5F2FE;
}

.ngw-feature-attachment-FotoDisplayWidget div.photo-content {
    position: absolute;
    height: auto;
    right: 5px;
    bottom: 5px;
    left: 5px;
    top: 6ex;
    overflow: auto;
}

.ngw-feature-attachment-FotoDisplayWidget.compact div.image {
    position: relative;
    display: block;
    float: left;
    width: 64px;
    height: auto;
    margin: 3px 3px 0 3px;
    text-align: center;
    padding: 3px;
    border: solid 1px #BBBBBB;
}

.ngw-feature-attachment-FotoDisplayWidget.compact div.image div.remove {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("DisplayWidget/remove.png");
    cursor: pointer;
    opacity: 1;
}

.ngw-feature-attachment-FotoDisplayWidget.compact div.image div.title {
    width: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    position: relative;
}

.ngw-feature-attachment-FotoDisplayWidget.compact div.image div.imgWrapper {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.ngw-feature-attachment-FotoDisplayWidget div.image img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
    display: block;
}

.ngw-feature-attachment-FotoDisplayWidget table { clear: both; width: 100%; margin-top: 1ex; }

.ngw-feature-attachment-FotoDisplayWidget table .name { width: 20%; }
.ngw-feature-attachment-FotoDisplayWidget table .size { width: 10em; text-align: right; }
.ngw-feature-attachment-FotoDisplayWidget table .mime_type { width: 15em; white-space: nowrap; }




.ngw-feature-attachment-DocDisplayWidget div.image {
    display: block; float: left;
    width: 128px; height: 128px;
    margin-right: 2ex;
    margin-bottom: 2ex;
    text-align: center;
}

.ngw-feature-attachment-DocDisplayWidget.compact div.image {
    display: block; float: left;
    width: 64px; height: 64px;
    margin-right: 1ex;
    margin-bottom: 1ex;
    text-align: center;
}

.ngw-feature-attachment-DocDisplayWidget div.image img {
    position: relative; top: 50%;
    transform: translateY(-50%);
}

.ngw-feature-attachment-DocDisplayWidget table { clear: both; width: 100%; margin-top: 1ex; }

.ngw-feature-attachment-DocDisplayWidget table .name { width: 20%; }
.ngw-feature-attachment-DocDisplayWidget table .size { width: 10em; text-align: right; }
.ngw-feature-attachment-DocDisplayWidget table .mime_type { width: 15em; white-space: nowrap; }