div.olMapViewport div.olControlPhotoPointer {
    display: none;
}

div.olMapViewport.olControlPhotoPointerActive div.olControlPhotoPointer {
    display: block;
}

div.olControlPhotoPointer {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    background-color: transparent;
}

div.olMapViewport div.image-wrapper {
    position: absolute;
    overflow: hidden;
}

div.olMapViewport div.image-wrapper.left-top {
    top: 5px;
    left: 11px;
}

div.olMapViewport div.image-wrapper.left-bottom {
    bottom: 5px;
    left: 11px;
}

div.olMapViewport div.image-wrapper.right-top {
    top: 44px;
    right: 4px;
}

div.olMapViewport div.image-wrapper.right-bottom {
    bottom: 5px;
    right: 11px;
}

div.olMapViewport div.image-wrapper img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.75);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1); 
    transform: scale(1);
    -webkit-transition: -webkit-transform 8s ease-out;
    -moz-transition: -moz-transform 8s ease-out;
    transition: transform 8s ease-out;
    opacity: 0;
}

div.olMapViewport div.image-wrapper img.scale-animated {
    display: block;
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2); 
    transform: scale(2);
    opacity: 1;
}

div.olMapViewport div.image-wrapper img.opacity-hidden-animated {
    visibility: hidden;
    opacity: 0;
}

div.olLayerDiv.pointer-layer svg {
    /*-webkit-transition: opacity 2s linear;*/
    /*-moz-transition: opacity 2s linear;*/
    /*transition: opacity 2s linear;*/
    opacity: 0;
}

div.olLayerDiv.pointer-layer.opacity-visible-animated svg {
    visibility: visible;
    opacity: 1;
}

div.olLayerDiv.pointer-layer.opacity-hidden-animated svg {
    visibility: hidden;
    opacity: 0;
    /*-webkit-transition: visibility 0s 2s, opacity 2s linear;*/
    /*-moz-transition: visibility 0s 2s, opacity 2s linear;*/
    /*transition: visibility 0s 2s, opacity 2s linear;*/
}