.dgrid-cell { white-space: normal; width: 7em; }

.field-act_number_date { width: 12em; }
.field-subcontr_name { width: 12em; }
.field-comment { width: 13em; }
.field-attachment { width: 12em; }
.field-acceptor { width: 12em; }
.field-change_date { width: 8em; }


div.ap_row_attachment a.icon-doc-text,
div.ap_row_attachment a.icon-doc-text:visited {
    color: #2074C3;
    opacity: 0.5;
    width: auto;
    height: auto;

    display: inline-block;
}

div.ap_row_attachment a.icon-doc-text:hover {
    opacity: 1.0;
}

div.ap_row_attachment a.icon-doc-text:before {
    width: auto;
    height: auto;
    margin: 0;
    font-size: 16px;
    padding: 1px;
}