.dgrid-cell { white-space: normal; width: 7em; }

.field-display_name { width: 12em; }
.field-region { width: 12em; }
.field-district { width: 13em; }
.field-status { width: 12em; }
.field-cabling_plan { width: 8em; }
.field-start_build_time { width: 8em; }
.field-end_build_time { width: 8em; }
.field-start_deliver_time { width: 9em; }
.field-end_deliver_time { width: 9em; }
.field-subcontr { width: 12em; }

div.ap_row_attachment a.icon-doc-text,
div.ap_row_attachment a.icon-doc-text:visited {
    color: #2074C3;
    opacity: 0.5;
    width: auto;
    height: auto;

    display: inline-block;
}

div.ap_row_attachment a.icon-doc-text:hover {
    opacity: 1.0;
}

div.ap_row_attachment a.icon-doc-text:before {
    width: auto;
    height: auto;
    margin: 0;
    font-size: 16px;
    padding: 1px;
}