div.accepted-parts-table .dgrid-header {
    height: 35px;
    border-bottom: 1px solid #ddd;
    line-height: 14px;
}

div.accepted-parts-table .dgrid-cell { white-space: normal; width: 7em; }

div.accepted-parts-table .field-act_number_date { width: 192px; }
div.accepted-parts-table .field-subcontr_name { width: 192px; }
div.accepted-parts-table .field-comment { width: 208px; }
div.accepted-parts-table .field-attachment { width: 192px; }
div.accepted-parts-table .field-acceptor { width: 192px; }
div.accepted-parts-table .field-change_date { width: 128px; }


div.accepted-parts-table div.ap_row_attachment a.icon-doc-text,
div.accepted-parts-table div.ap_row_attachment a.icon-doc-text:visited {
    color: #2074C3;
    opacity: 0.5;
    width: auto;
    height: auto;

    display: inline-block;
}

div.accepted-parts-table div.ap_row_attachment a.icon-doc-text:hover {
    opacity: 1.0;
}

div.accepted-parts-table div.ap_row_attachment a.icon-doc-text:before {
    width: auto;
    height: auto;
    margin: 0;
    font-size: 16px;
    padding: 1px;
}