<div class="image-wrapper recording-video left-bottom" style="width: {{width}}px; height: {{height}}px;">
</div>

<div class="image-wrapper recording-video right-top" style="width: {{width}}px; height: {{height}}px;">
</div>

<div class="image-wrapper recording-video right-bottom" style="width: {{width}}px; height: {{height}}px;">
</div>

<div class="image-wrapper recording-video left-top" style="width: {{width}}px; height: {{height}}px;">
</div>