/* resources type drop down styles */

#resourcesTypeSelector {
    width: 100%;
}

#resourcesTypeSelector td.dijitReset.dijitStretch.dijitButtonContents {
    width: 100%;
}

/* resource tree styles */

#resourcesTree {
    width: 98%;
    height: 98%;
    margin: 1%;
}

#resourcesTree a[chb="false"] i.jstree-checkbox {
    display: none;
}

#resourcesTree i.jstree-themeicon-custom {
    width: 16px;
    height: 16px;
    background: url(../img/compulink-sprite.png) 0, -2px;
}

#resourcesTree i.jstree-themeicon-custom.situation_plan {
    background-position: -32px, -2px;
}

#resourcesTree i.jstree-themeicon-custom.focl_struct {
    background-position: -48px, -2px;
}

/* right panel trees */

#foclLayersTree .jstree-icon.jstree-themeicon,
#spLayersTree .jstree-icon.jstree-themeicon {
    background: url(../img/compulink-sprite.png) -16px, 0;
    width: 16px;
    height: 21px; /* todo: for centering icon by text, need implement this by background-position */
}

#rightPanel div.dijitContentPane {
    overflow: hidden;
}

#rightPanel div.tree-wrapper,
#rightPanel div.tree-overlay {
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
}

#rightPanel div.tree-wrapper {
    overflow: auto;
}

#rightPanel div.tree-overlay {
    display: none;
    background-image: url(../img/disabled-overlay.png);
    opacity: 0.6;
    z-index: 9999;
}

#rightPanel[data-resource-type-filter=vols] div.vols div.tree-overlay,
#rightPanel[data-resource-type-filter=sit] div.sit div.tree-overlay {
    display: block;
}

#rightPanel[data-resource-type-filter=vols] div.vols div.tree-wrapper,
#rightPanel[data-resource-type-filter=sit] div.tree-wrapper {
    overflow: hidden;
}

#rightPanel i.jstree-ocl {
    display: none;
}

#rightPanel i.jstree-checkbox {
    margin-right: 2px;
}