#resourcesTree a[chb="false"] i.jstree-checkbox {
    display: none;
}

/* tree icons styles */
#resourcesTree i.jstree-themeicon-custom {
    width: 16px;
    height: 16px;
    background: url(../img/compulink-sprite.png) 0, -2px;
}

#resourcesTree i.jstree-themeicon-custom.situation_plan {
    background-position: -32px, -2px;
}

#resourcesTree i.jstree-themeicon-custom.focl_struct {
    background-position: -48px, -2px;
}

/* right panel trees */
#foclLayersTree .jstree-icon.jstree-themeicon,
#spLayersTree .jstree-icon.jstree-themeicon {
    background: url(../img/compulink-sprite.png) -16px, 0;
    width: 16px;
    height: 21px; /* todo: for centering icon by text, need implement this by background-position */
}

#rightPanel div.dijitContentPane {
    overflow: hidden;
}

#rightPanel div.tree-wrapper {
    overflow: auto;
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
}