<div>
    <div data-dojo-type="dijit/Toolbar"
         data-dojo-props="region: 'top'"
         style="border-bottom: none"
         id="statisticToolbar">

        <div data-dojo-attach-point="federalLevelButton"
             id="federalLevelButton"
             data-dojo-attach-event="onChange: selectAndMoveChanged"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="iconClass: 'selectAndMove', showLabel: false, checked: true, title: 'Федеральные округа'">
        </div>

        <div data-dojo-attach-point="regionLevelButton"
             id="regionLevelButton"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="iconClass: 'iconCreateVols', showLabel: false, checked: false, title: 'Регионы'">
        </div>

        <div data-dojo-attach-point="districtLevelButton"
             id="districtLevelButton"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="iconClass: 'iconCreateSp', showLabel: false, checked: false, title: 'Районы'">
        </div>

        <div data-dojo-type="dijit/ToolbarSeparator"></div>

        <div data-dojo-attach-point="removeFeatureButton"
             id="removeFeatureButton"
             data-dojo-attach-event="onClick: removeFeature"
             data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass: 'removeFeature', showLabel: false, checked: false, title: 'Удалить выбранный объект'">
        </div>

    </div>
</div>