<div>
    <div data-dojo-type="dijit/Toolbar"
         data-dojo-props="region: 'top'"
         style="border-bottom: none"
         id="statisticToolbar">

        <div data-dojo-attach-point="federalLevelButton"
             id="federalLevelButton"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="iconClass: 'iconFederalLevel', showLabel: false, checked: true, title: 'Федеральные округа'">
        </div>

        <div data-dojo-attach-point="regionLevelButton"
             id="regionLevelButton"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="iconClass: 'iconRegionlLevel', showLabel: false, checked: false, title: 'Регионы'">
        </div>

        <div data-dojo-attach-point="districtLevelButton"
             id="districtLevelButton"
             data-dojo-type="dijit/form/ToggleButton"
             data-dojo-props="iconClass: 'iconDistrictLevel', showLabel: false, checked: false, title: 'Районы'">
        </div>

        <div id="buildingObjectsSelect"
             data-dojo-attach-point="buildingObjectsSelect"
             data-dojo-props="url: '/compulink/reporting/resources/child'"
             data-dojo-type="ngw-compulink-reporting/BuildingObjectsSelect">

        </div>

    </div>
</div>