div#timeline {
    height: 175px !important;
}

div.dojoxFloatingPaneCanvas {
    height: 154px !important;
}

div.timeline {
    width: 100%;
    height: 100%;
    text-align: center;
}

div.timeline div.controls {
    display: inline-block;
    margin-top: 5px;
}

div.timeline i.fa {
    color: #599BFF;
    cursor: pointer;
}

div.timeline i.fa:hover {
    color: #0166FF;
}

div.timeline i.fa.disabled,
div.timeline i.fa.disabled:hover {
    color: #D4D4D4;
    cursor: auto;
}

div.timeline div.vis-foreground div.vis-group {
    height: 100% !important;
}

div.timeline div.vis-item.vis-range.vis-readonly {
    top: 0 !important;
    bottom: 0;
}

div.timeline div.vis-custom-time.currentTime {
    background-color: red;
}

div.timeline i.fa-fast-backward {
    margin-right: 5px;
}

div.timeline i.fa-fast-forward {
    margin-left: 5px;
}

div#timeline div.vis-current-time {
    background-color: green;
}

div.timeline i.sound {
    margin-left: 15px;
}