<div class="video-manager-wrapper">
    <div class="video-list">
    </div>
    <div class="controls">
        <i class="icon icon-plus-circled" aria-hidden="true" title="Записать"></i>
    </div>
</div>