div.olMapViewport div.olControlPhotoPointer {
    display: none;
    width: 100%;
    height: 100%;
}

div.olMapViewport.olControlPhotoPointerActive div.olControlPhotoPointer {
    display: block;
}

div.olControlPhotoPointer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
}

div.olControlPhotoPointer div.image-wrapper {
    position: absolute;
}

div.olControlPhotoPointer div.image-wrapper.left-bottom {
    bottom: 5px;
    left: 11px;
}

div.olControlPhotoPointer div.image-wrapper.right-top {
    top: 44px;
    right: 4px;
}

div.olControlPhotoPointer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.75);
}
